.waseem
{
  font-size: 35px;
}
#waseem
{
  font-size: 35px;
}
img
{
  float: right;
}
.contact
{
  font-size: 100px;
  font-style: italic;
}
.touch
{
  font-size: 30px;
}
body
{
  background: url("bg2.jpg") no-repeat center center fixed;
  background-size: cover;

}
#contact
{
  font-size: 30px;
}
.color
{
  color: white;
}
